.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    text-align: center;
    margin: -5px;
}
  
  .header-right {
    float: right;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }