<div class="booking">  
</div>
<div class="container">
  <div class="row">
    <div class="col-sm fill">
      <img src="../../assets/images/booking.jpg" width="70%">
    </div>
    <div class="col-sm form">
      <br>
      <h2>Booking Appointment</h2>
      <br>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="full-name">Full Name: </label><br>
        <input id="full-name" ty  pe="text" formControlName="name">
        <br>
        <label for="complaint">Complaint: </label><br>
        <input id="complaint" type="text" formControlName="complaint">
        <br>
        <label for="appointmentDate">Appointment Date: </label><br>
        <input id="appointmentDate" type="date" formControlName="appointmentDate">
        <br>
        <label for="dName">Select Doctor:</label><br>
        <select id='dName' formControlName="doctor">
          <option *ngFor="let doctorObj of doctors" [ngValue]='doctorObj'>
            {{doctorObj.name}}
            <span>Fees:{{doctorObj.fees}}</span>
          </option>

        </select>
        <br>
        <label for="admitted">Admitted: </label><br>
        <input type="radio" formControlName="isAdmitted" value=true> Yes
        <input type="radio" formControlName="isAdmitted" value=false> No
        <br>
        <button type="submit">Submit</button>
        <br>
      </form>
    </div>
  </div>
</div>