<div class="booking">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="full-name">Full Name: </label><br>
    <input id="full-name" type="text" formControlName="fullName">
    <br>
    <label for="complaint">Complaint: </label><br>
    <input id="complaint" type="text" formControlName="complaint">
    <br>
    <label for="appointmentDate">Appointment Date: </label><br>
    <input id="appointmentDate" type="text" formControlName="appointmentDate">
    <br>
    <label for="bill">Bill: </label><br>
    <input id="bill" type="text" formControlName="bill">
    <br>
    <label for="nameofdoc">Name of Doctor: </label><br>
    <input id="nameofdoc" type="text" formControlName="nameofdoc">
    <br>
    <label for="speciality">Speciality: </label><br>
    <input id="speciality" type="text" formControlName="speciality">
    <br>
    <label for="fees">Fees: </label><br>
    <input id="fees" type="text" formControlName="fees">
    <br>
    <label for="admitted">Admitted: </label><br>
    <input type="radio" formControlName="admitted" value="Yes"> Yes
    <input type="radio" formControlName="admitted" value="No"> No
    <br>
    <button type="submit">Submit</button>
    <br>
  </form>
</div>