<div style="text-align: center;  ">      
        <div class="container">
            <br>
            <h2> About Us</h2>
            <p style="margin-top: 30px; margin-left: 50px; margin-right: 50px;"> Hospital is a multi-speciality state-of-the-art Hospital in India. 
                It provides comprehensive Healthcare India services, and has acquired the status of a 
                premier medical institution. 
                It is the only hospital in the private sector that has maintained nearly 100% bed occupancy 
                due to its reputation of providing the highest level of medical services to patients from India 
                and neighbouring countries.<br>
                
                In addition to that we are running regular OPDs for all disciplines where patients are seen free of charge. 
                    40% of all the investigations is the OPD patients are free of charge. 
                    These facilities are provided strictly on a first come, first serve.
                </p>
                <br>
                <h2>Our Team</h2>
                <br>
            <div class="row">
              <div class="col-sm">
                <img src="../../assets/images/placeholder.jpg">
                <br><br>
                <h4>Mohd Kashaf Siddiqui</h4>    
            </div>
              <div class="col-sm">
                <img src="../../assets/images/placeholder.jpg">
                <br><br>
                <h4>Harsh</h4>
              </div>
              <div class="col-sm">
                <img src="../../assets/images/placeholder.jpg">
                <br><br>
                <h4>Prince Kumar</h4>
              </div>
              <div class="col-sm">
                <img src="../../assets/images/placeholder.jpg">
                <br><br>
                <h4>Aman</h4>
              </div>
            </div>
        </div>
</div>